<template>
  <div class="dialog" v-if="show" @click.stop="hideDialog">
    <div @click.stop class="dialog-content">
      <form @submit="sendForm">
        <h5>Добавление предмета</h5>
        <input class="input" type="text" id="title" name="title" placeholder="Название предмета" v-model="formData.title">
        <select class="input" id="testType" name="testType" v-model="formData.testType">
          <option disabled value="">Название вида теста</option>
          <option v-for="test in tests" :key="test.id" :value="test.title">{{ test.title }}</option>
        </select>
        <div>
          <input class="radio" type="radio" id="isRequired" value="true" v-model="formData.isRequired">
          <label class="radio-label" for="isRequired">Обязательный предмет</label>
        </div>
        <button type="submit" class="btn">Добавить</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import store from "@/store.js";

export default {
  name: "CreateSubjectDialog",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      tests: [],
      formData: {
        title: '',
        testType: '',
        dependencies: [],
        isRequired: ''
      }
    }
  },
  methods: {
    hideDialog() {
      this.$emit('update:show', false)
    },
    async initTests() {
      const response = await axios({
        method: 'GET',
        url: store.getters.apiUrl + '/test-types/all',
        withCredentials: true
      });
      this.tests = response.data.response;
    },
    async sendForm() {
        await axios.post(
            store.getters.apiUrl + '/subjects/create', this.formData, {withCredentials: true}
        );
    }
  },
  mounted() {
    this.initTests();
  }
}
</script>

<style scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  display: flex;
}

.dialog-content {
  margin: auto;
  background: white;
  border-radius: 12px;
  min-width: 350px;
  min-height: 50px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
}

.radio {
  margin-top: 15px;
  align-self: flex-start;
}

.radio-label {
  margin-left: 10px;
}

.btn {
  margin-top: 15px;
  background: #57b846;
  color: white;
  align-self: flex-start;
}
</style>