<template>
  <div class="dialog" v-if="show" @click.stop="hideDialog">
    <div @click.stop class="dialog-content">
      <form @submit="sendForm">
        <h5>Добавление вида теста</h5>
        <input class="input" type="text" id="title" name="title" placeholder="Название вида теста" v-model="formData.title">
        <input class="input" type="number" id="subscriptionPrice" name="subscriptionPrice" placeholder="Цена за разовое прохождение" v-model="formData.subscriptionPrice">
        <input class="input" type="number" id="instantPrice" name="instantPrice" placeholder="Цена за подписку" v-model="formData.instantPrice">
        <div class="multiLangSelect">
            <div>
                <span>Тест является мультиязычным:</span>
            </div>
            <div class="langInputs">
                <input class="radio" type="radio" id="isMultiLangTrue" value="true" v-model="formData.isMultiLang">
                <label class="radio-label" for="isMultiLangTrue">Да</label>
                <input class="radio" type="radio" id="isMultiLangFalse" value="false" v-model="formData.isMultiLang">
                <label class="radio-label" for="isMultiLangFalse">Нет</label>
            </div>
        </div>
          <button type="submit" class="btn">Добавить</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import store from "@/store.js";

export default {
  name: "CreateTestTypeDialog",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      formData: {
        title: '',
        subscriptionPrice: '',
        instantPrice: '',
          isMultiLang: ''
      }
    }
  },
  methods: {
    hideDialog() {
      this.$emit('update:show', false)
    },
    async sendForm() {
      await axios ({
        method: 'POST',
        url: store.getters.apiUrl + '/test-types',
        withCredentials: true,
        data: this.formData
      })
    },
  }
}
</script>

<style scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  display: flex;
}

.dialog-content {
  margin: auto;
  background: white;
  border-radius: 12px;
  min-width: 350px;
  min-height: 50px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
}

.multiLangSelect {
    display: flex;
    flex-direction: column;
}

.langInputs {
    width: 40%;
    display: flex;
}

.radio {
    margin-top: 3px;
    margin-left: 5px;
}

.radio-label {
    margin-left: 10px;
}

.btn {
  margin-top: 15px;
  background: #57b846;
  color: white;
  align-self: flex-start;
}
</style>