<template>
  <div class="dialog" v-if="show" @click.stop="hideDialog">
    <div @click.stop class="dialog-content">
      <form @submit="sendForm">
        <h5>Удаление администратора</h5>
        <input type="text" id="identifier" name="identifier" placeholder="Имя пользователя" v-model="identifier">
        <button type="submit" class="btn">Удалить</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import store from "@/store.js";

export default {
  name: "DeleteAdminDialog",
  props: {
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
        identifier: '',
    }
  },
  methods: {
    hideDialog() {
      this.$emit('update:show', false)
    },
    async sendForm() {
      await axios ({
        method: 'DELETE',
        url: store.getters.apiUrl + '/users/deleteAdmin/' + this.identifier,
        withCredentials: true
      }).then(response => {
        console.log(response)
      }).catch(error => {
        console.log(error)
      })
    },
  },
}
</script>

<style scoped>
.dialog {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  position: fixed;
  display: flex;
}

.dialog-content {
  margin: auto;
  background: white;
  border-radius: 12px;
  min-width: 200px;
  min-height: 50px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
  margin-top: 15px;
}

.btn {
  margin-top: 15px;
  background: #57b846;
  color: white;
  align-self: flex-start;
}
</style>