<template>
  <div>
    <button class="btn" @click="showDialog">Создать администратора</button>
  </div>
  <CreateAdminDialog v-model:show="dialogVisible"></CreateAdminDialog>
</template>

<script>
import CreateAdminDialog from "@/components/admin/dialogs/CreateAdminDialog.vue";
export default {
  name: "CreateAdminButton",
  components: {CreateAdminDialog},
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisible = true;
    }
  }
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>