<template>
  <div>
    <button class="btn" @click="showDialog">Добавить вид теста</button>
  </div>
  <CreateTestTypeDialog v-model:show="dialogVisible" />
</template>

<script>
import CreateTestTypeDialog from "@/components/admin/dialogs/CreateTestTypeDialog.vue";
export default {
  name: "CreateTestTypeButton",
  components: {CreateTestTypeDialog},
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisible = true;
    }
  }
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>