<template>
  <div>
    <button class="btn" @click="showDialog">Добавить предмет</button>
  </div>
  <CreateSubjectDialog v-model:show="dialogVisible" />
</template>

<script>
import CreateSubjectDialog from "@/components/admin/dialogs/CreateSubjectDialog.vue";
export default {
  name: "CreateSubjectButton",
  components: {CreateSubjectDialog},
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisible = true;
    }
  }
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>