<template>
  <div>
    <button class="btn">Создать вариант теста</button>
  </div>
</template>

<script>
export default {
  name: "CreateTestVariantButton"
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>