<template>
  <div>
    <button class="btn" @click="showDialog">Удалить администратора</button>
  </div>
  <DeleteAdminDialog v-model:show="dialogVisible" />
</template>

<script>
import DeleteAdminDialog from "@/components/admin/dialogs/DeleteAdminDialog.vue";
export default {
  name: "DeleteAdminButton",
  components: {DeleteAdminDialog},
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisible = true;
    }
  }
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>