<template>
  <div>
    <button class="btn" @click="showDialog">Удалить пользователя</button>
  </div>
  <DeleteUserDialog v-model:show="dialogVisible" />
</template>

<script>
import DeleteUserDialog from "@/components/admin/dialogs/DeleteUserDialog.vue";
export default {
  name: "DeleteUserButton",
  components: {DeleteUserDialog},
  data() {
    return {
      dialogVisible: false,
    }
  },
  methods: {
    showDialog() {
      this.dialogVisible = true;
    }
  }
}
</script>

<style scoped>
.btn {
  background: #57b846;
  color: white;
  margin-top: 10px;
}
</style>