.question {
    width: 96%;
    min-width: 96%;
    max-width: 545px;
    background-color: #FFFFFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.options-group-wrapper {
    width: 96%;
}

.option {
    background: #FFFFFF;
    width: 80%;
    max-width: 455px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.question:focus, .option:focus {
    outline: #57b846 1px solid;
}

.option-wrapper {
    display: flex;
    width: 96%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.question-form {
    display: flex;
    flex-direction: column;
    border: 3px solid #57b846;
    padding: 15px;
    border-radius: 5px;
    margin: 15px 0;
    background-color: #f1f1f1;
    position: relative;
    width: 600px;
}

.btn-wrapper {
    position: relative;
    display: inline-block;
    width: 22px;
    text-align: center;
}

.btn-wrapper .hover-text {
    user-select: none;
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.btn-wrapper .hover-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.btn-wrapper:hover .hover-text {
    visibility: visible;
}

svg:hover {
    fill: red;
}

.del-btn {
    rotate: 45deg;
}