<template>
    <div class="wrapper">
        <form @submit.prevent="validateForm" class="login100-form validate-form">
            <div class="error-message" :id="authStr"></div>
            <div class="wrap-input100 validate-input" :class="{'alert-validate': !validation.email.valid}"
                 :data-validate=errMsg>
                <input v-model="email" @focus="hideValidate('email')" class="input100" type="text" name="email"
                       :placeholder=authStr>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>

            <div class="wrap-input100 validate-input" :class="{'alert-validate': !validation.password.valid}"
                 data-validate="Password is required">
                <input v-model="password" @focus="hideValidate('password')" class="input100" type="password" name="pass"
                       placeholder="Password">
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn">Вход/Регистрация</button>
            </div>
        </form>
    </div>
</template>


<script>
import axios from "axios";
import store from "@/store.js";

export default {
    name: "AuthForm",
    props: {
        authStr: String,
        errMsg: String
    },
    data() {
        return {
            email: '',
            password: '',
            validation: {
                email: {valid: true},
                password: {valid: true},
            },
        };
    },
    methods: {
        validateForm() {
            this.validation.email.valid = this.validateEmail(this.email);

            this.validation.password.valid = this.password.trim() !== '';

            if (this.validation.email.valid && this.validation.password.valid) {
                axios.post(store.getters.apiUrl + "/auth/authorize", {
                    identifier: this.email,
                    password: this.password
                }, {
                    withCredentials: true
                })
                    .then(res => {
                        if (!res.data.success) {
                            const errorBlock = document.getElementById(this.authStr);
                            errorBlock.innerText = res.data.message;
                            errorBlock.style.display = 'block';
                        } else {
                            $('#regModal').modal('hide');
                            window.location.reload()
                        }
                    })
                    .catch(error => {
                        console.log(error)
                        const errorBlock = document.getElementById(this.authStr);
                        errorBlock.innerText = (error.response.data.hasOwnProperty('password')) ?
                            error.response.data.password : (error.response.data.hasOwnProperty('identifier')) ?
                                error.response.data.identifier : error;
                        errorBlock.style.display = 'block';
                    });
            }
        },

        validateEmail(email) {
            const re = /^[a-zA-Z0-9_+&*-]+(?:\.[a-zA-Z0-9_+&*-]+)*@(?:[a-zA-Z0-9-]+\.)+[a-zA-Z]{2,7}|(\d{12})$/;
            return re.test(email);
        },

        hideValidate(field) {
            if (field === 'email') {
                this.validation.email.valid = true;
            } else if (field === 'password') {
                this.validation.password.valid = true;
            }
        }
    },
}

</script>

<style scoped>
@import url("css/main.css");
@import url("css/util.css");

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.error-message {
    background-color: #fff3ae;
    border: 2px solid #ffe745;
    display: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    color: #e1c400;
}

</style>
