<template>
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#regModal">Вход/Регистрация</button>
    <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="regModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="close-btn-wrapper">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#user" role="tab" aria-controls="home" aria-selected="true">Пользователь</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#company" role="tab" aria-controls="profile" aria-selected="false">Компания</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="user" role="tabpanel" aria-labelledby="home-tab">
                            <AuthForm auth-str="Email" err-msg="Valid email is required: example@domain.com"/>
                        </div>
                        <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="profile-tab">
                            <AuthForm auth-str="BIN" err-msg="Valid BIN is required"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent} from "vue";
import AuthForm from "@/components/authForm/AuthForm.vue";

export default defineComponent({
    components: {AuthForm}
})
</script>

<style scoped>
.close-btn-wrapper {
    padding-right: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

 .close {
     background: none;
     border: none;
     font-size: 30px;
 }

 .modal-body {
     padding: var(--bs-modal-padding) 0;
 }

.btn {
    background: #57b846;
    color: white;
}

.nav-link {
    color: #57b846;
}
</style>