<template>
    <Header/>
    <div class="container">
        <img src="./../assets/img/access-denied-icon-vector.jpg" alt="access denied">

        <span>Не достаточно прав доступа</span>
    </div>
</template>

<script>
import Header from "@/components/Header.vue";

export default {
    name: "AccessDeniedPage",
    components: {Header}
}
</script>

<style scoped>
.container {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

img {
    width: 300px;
    opacity: 0.6;
}

span {
    text-align: center;
    width: 80%;
    font-size: 47px;
    font-weight: 1000;
    color: rgba(128, 128, 128, 0.3);
}
</style>