<template>
    <Header />
    <h3 class="text-center mt-3">Кабинет администратора</h3>
    <div class="mt-5 d-flex justify-content-evenly w-100">
        <CabinetUserInfo :email="email" />
        <AdminFunctions />
    </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import CabinetUserInfo from "@/components/CabinetUserInfo.vue";
import CabinetSubsInfo from "@/components/CabinetSubsInfo.vue";
import axios from "axios";
import AdminFunctions from "@/components/AdminFunctions.vue";
import store from "@/store.js";
import router from "@/router.js";

export default {
    components: {
        AdminFunctions,
        CabinetUserInfo,
        CabinetSubsInfo,
        Wrapper, Header },
    name: "AdminCabinet",
    data() {
        return {
            email: '',
        }
    },
    methods: {
        async getInfo() {
            await axios({
                method: "GET",
                url: store.getters.apiUrl + "/users/getAuthorizedUserWithSubs",
                withCredentials: true,
            }).then(response => {
                this.email = response.data.response.email;
            })
        },

        accessChecker() {
            let role;

            axios.get(store.getters.apiUrl + '/users/getUserRole', {withCredentials: true})
                .then((response) => {
                    role = response.data.response;
                    if (role !== 'ADMIN') {
                        router.push('/access-denied');
                    }
                }).catch((error) => {
                router.push('/access-denied');
            });
        }
    },
    mounted() {
        this.getInfo();
        this.accessChecker();
    },
}
</script>

<style scoped>
.navigation {
  margin-top: 20px;
  margin-left: 20px;
}
.router-link {
  display: inline-block;
  width: auto;
}
#userBlock {
    background: #57b846;
}
</style>