<template>
    <div>
        <Header/>
        <Wrapper>
            <div class="mt-5 d-flex justify-content-evenly w-100">
                <CabinetUserInfo :email="company.bin"/>
                <CabinetSubsInfo :subs="company.subs"/>
            </div>
            <my-dialog v-model:show="isDialogVisible2">
                <form @submit.prevent="addUser">
                    <h3>Выдать подписки:</h3>
                    <div class="subs">
                        <div v-if="possibleSubs.length === 0">
                            Пользователю выданы все подписки компании или у ваших подписок закончились места. Либо у вас нет купленных подписок.
                        </div>
                        <div
                            v-for="sub in possibleSubs"
                            :key="sub.id"
                            @click="addSub(sub.id)"
                            class="sub"
                            :class="{
                            'selectedSub': isSelected(sub.id)
                        }"
                        >
                            <div><strong>Доступ к экзаменам:</strong></div>
                            <span
                                v-for="testType in sub.testTypes"
                                :key="testType.id"
                            >
                            {{testType.title}}
                        </span>
                            <div><strong>Занято мест:</strong> {{sub.currentEmployees}}/{{sub.employeesAmount}}</div>
                            <div><strong>Закончится через:</strong></div>
                            <div>{{getTimeRemaining(sub.expireDate)}}</div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit" :disabled="!isSubsSelected">Добавить пользователя</button>
                </form>
            </my-dialog>
            <my-dialog v-model:show="isDialogVisible">
                <div
                    v-show="isError"
                    id="error"
                >

                </div>
                <form @submit.prevent="findUser(email)">
                    <h5 class="text-center">Введите почту</h5>
                    <input id="email" name="email" placeholder="Имя пользователя" v-model="email">
                    <button class="btn btn-primary mt-3" type="submit">Добавить пользователя</button>
                </form>
            </my-dialog>
            <div class="employees rounded-3 border border-2 border-primary" >
                <h3>Участники компании:</h3>
                <div
                    v-for="(user, index) in company.employees"
                    :key="user.id"
                    class="employee"
                >
                    <div class="employee">
                        {{ index + 1 }}.
                        <span>{{ user.identifier }}</span>
                    </div>
                </div>
                <button class="btn btn-primary" @click="showDialog">Добавить</button>
            </div>
        </Wrapper>
    </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import CabinetSubsInfo from "@/components/CabinetSubsInfo.vue";
import CabinetUserInfo from "@/components/CabinetUserInfo.vue";
import axios from "axios";
import MyDialog from "@/components/Dialog.vue";
import store from "@/store.js";
import router from "@/router.js";

export default {
    components: {MyDialog, CabinetUserInfo, CabinetSubsInfo, Wrapper, Header},
    data() {
        return {
            company: {
                id: "",
                bin: "",
                subs: [
                    {
                        id: '',
                        subscriptionType: {
                            duration: 0
                        },
                        testTypes: [
                            {
                                title: ''
                            }
                        ],
                        buyingDate: '',
                        expireDate: '',
                        employeesAmount: 0,
                        currentEmployees: 0
                    }
                ],
                employees: [
                    {
                        id: '',
                        identifier: ''
                    },
                    {
                        id: '',
                        identifier: ''
                    }
                ]
            },
            isError: false,
            isDialogVisible: false,
            isDialogVisible2: false,
            isSubsSelected: false,
            email: '',
            userToAdd: {},

            userSubs: [],
            possibleSubs: [],
            subsToGive: [],
            formData: {
                companyId: '',
                employeeId: '',
                subIds: []
            }
        };
    },
    methods: {
        showDialog() {
            this.isDialogVisible = true;
        },

        error () {
            this.isError = true
        },
        setSubSelected() {
            this.isSubsSelected = this.subsToGive.length !== 0;
        },
        async initCompany() {
            await axios({
                method: 'GET',
                url: store.getters.apiUrl + '/users/getAuthorizedCompanyWithSubs',
                withCredentials: true
            }).then(response => {
                this.company = response.data.response
            })
        },
        async findUser(email) {
            this.isError = false;
            await axios({
                method: 'GET',
                url: store.getters.apiUrl + '/users/email/' + email,
                withCredentials: true
            }).then(response => {
                if (response.data.status === 409) {
                    this.error();
                    const errorMsgContainer = document.getElementById("error")
                    errorMsgContainer.textContent = response.data.message;
                } else {
                    this.userToAdd = response.data.response
                    this.isDialogVisible = false
                    this.isDialogVisible2 = true
                    this.email = ''
                    this.subsToGive = [];
                    this.possibleSubs = [];
                    this.setSubSelected();
                    this.getUserSubs()
                }
            })
        },
        async getUserSubs() {
            await axios({
                method: 'GET',
                url: store.getters.apiUrl + '/users/getUserSubscriptions/' + this.userToAdd.id,
                withCredentials: true
            }).then(response => {
                this.userSubs = response.data.response;
                this.initPossibleSubs();
            })
        },
        initPossibleSubs() {
            this.possibleSubs = this.company.subs.slice();
            this.possibleSubs = this.company.subs.filter(sub => {
                return  sub.currentEmployees < sub.employeesAmount
            })
            this.possibleSubs = this.possibleSubs.filter(sub => {
                return !this.userSubs.some(userSub => userSub.id === sub.id);
            });
        },
        async addUser() {
            this.formData.companyId = this.company.id
            this.formData.employeeId = this.userToAdd.id
            this.formData.subIds = this.subsToGive
            await axios({
                method: 'POST',
                url: store.getters.apiUrl + '/companies',
                data: this.formData,
                withCredentials: true
            }).then(response => {
                this.formData.companyId = ''
                this.formData.employeeId = ''
                this.formData.subIds = []

                this.possibleSubs = [];
                this.isDialogVisible2 = false;
                window.location.reload();
            })
        },
        getTimeRemaining: function(expireDate) {
            const now = new Date();
            const difference = new Date(expireDate) - now;

            const days = Math.floor(difference / (1000 * 60 * 60 * 24));
            const hours = Math.floor((difference / (1000 * 60 * 60)) % 24);
            const minutes = Math.floor((difference / (1000 * 60)) % 60);
            const seconds = Math.floor((difference / 1000) % 60);

            return `${days} дней ${hours} часов ${minutes} минут ${seconds} секунд`;
        },
        addSub(subId) {
            if (this.subsToGive.includes(subId)) {
                this.subsToGive = this.subsToGive.filter(sub => sub !== subId);
                this.setSubSelected();
            } else {
                this.subsToGive.push(subId);
                this.setSubSelected();
            }
        },
        isSelected(subId) {
            return this.subsToGive.includes(subId);
        },

        accessChecker() {
            let role;

            axios.get(store.getters.apiUrl + '/users/getUserRole', {withCredentials: true})
                .then((response) => {
                    role = response.data.response;
                    if (role !== 'COMPANY') {
                        router.push('/access-denied');
                    }
                }).catch((error) => {
                router.push('/access-denied');
            });
        }
    },
    mounted() {
        this.initCompany();
        this.accessChecker();
    }
};
</script>

<style scoped>
#userBlock,
#subsBlock,
#testHistory {
    background: #57b846;
}
.employees {
    width: 60%;
    margin: 40px;
    padding: 10px;
}
.employee {
    margin: 5px 0;
    width: auto;
}
.employee span {
    text-decoration: none;
    color: black;
}
.employee:hover {
    background-color: #6c757d;
    span {
        color: white;
    }
}
img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #4ba13b;
}

.form-el label {
    font-size: 20px;
}
.subs {
    display: flex;
    justify-content: start;
}
.sub {
    border: 5px solid #57b846;
    width: 200px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 15px;
}
.sub:hover {
    background-color: #57b846;
    color: white;
}
.selectedSub {
    background-color: #57b846;
}
#error {
    color: red;
    margin: 10px 0px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    border: 1px solid teal;
    padding: 10px 15px;
    margin-top: 15px;
}

.btn {
    margin-top: 5px;
    color: white;
    align-self: flex-start;
}
</style>
