<template>
  <Header/>
  <div class="welcome-section">
    <div class="welcome-background"></div>
    <div class="welcome-text">
      <h3>Добро пожаловать на платформу для подготовки к тестам!</h3>
      <p>
        Готовьтесь к своему будущему с уверенностью, используя нашу инновационную платформу для тестирования и
        подготовки.
        Мы предлагаем широкий спектр тестов, включая учебные, профессиональные, сертификационные и многое другое.
        Независимо от ваших целей и уровня подготовки, здесь вы найдете все необходимое для успешного прохождения
        тестов.
      </p>
    </div>
  </div>
  <Wrapper>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card text-center " style="height: 380px; max-width: 320px">
          <h5 class="card-header">ЕНТ</h5>
          <!-- <img
            src="./assets/img/toefl-logo.jpg"
            class="card-img-top d-block"
            alt="ЕНТ тест"
          /> -->
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">
              <b>Единое национальное тестирование (ЕНТ) –</b> одна из форм
              отборочных экзаменов для поступления в организаций высшего и (или)
              послевузовского образования.
            </p>
            <button class="btn" @click="passENT">Пройти пробный тест</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card text-center" style="height: 380px; max-width: 320px">
          <h5 class="card-header">ОЗП</h5>
          <!-- <img src="./assets/img/toefl-logo.jpg" class="card-img-top" alt="..." /> -->
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">
              <b>Оценка знаний педагогов (далее – ОЗП) –</b> процедура, проводимая в
              целях определения уровня профессиональной компетентности педагога, по
              тестам, разработанным уполномоченным органом в области образования.
            </p>
            <button class="btn" @click="passOZP" title="В пробном тесте предоставлены 5 вопросов обязательных приедметов теста">Пройти пробный тест</button>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card text-center" style="height: 380px; max-width: 320px">
          <h5 class="card-header">TOEFL</h5>
          <!-- <img
            src="./assets/img/toefl-logo.jpg"
            class="card-img-top "
            alt="..."
          /> -->
          <div class="card-body d-flex flex-column justify-content-between">
            <p class="card-text">
              <b>TOEFL —</b> стандартизованный тест на знание английского языка,
              результаты которого могут использоваться для подтверждения уровня
              владения английским языком абитуриентами из неанглоязычных стран при
              поступлении в вузы США, а также Европы и Азии
            </p>
            <button class="btn" @click="passTOEFL">Пройти пробный тест</button>
          </div>
        </div>
      </div>
    </div>
  </Wrapper>

</template>

<script>
import Header from "./../components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import axios from "axios";
import store from "@/store.js";
import router from "@/router.js";

export default {
    components: {Header, Wrapper},
    data() {
        return {
            formData: {
                testType: ''
            }
        }
    },
    methods: {
        async passENT() {
            this.formData.testType = "ЕНТ";
            await axios.get(
                store.getters.apiUrl + '/sample-test/' + this.formData.testType, {withCredentials: true}
            ).then(response => {
                store.state.sampleTest = response.data.response;
                router.push('sample-test');
            })
        },
        async passOZP() {
            this.formData.testType = "ОЗП";
            await axios.get(
                store.getters.apiUrl + '/sample-test/' + this.formData.testType, {withCredentials: true}
            ).then(response => {
                store.state.sampleTest = response.data.response;
                router.push('sample-test');
            })
        },
        async passTOEFL() {
            this.formData.testType = "TOEFL";
            await axios.get(
                store.getters.apiUrl + '/sample-test/' + this.formData.testType, {withCredentials: true}
            ).then(response => {
                store.state.sampleTest = response.data.response;
                router.push('sample-test');
            })
        }
    }
}
</script>

<style scoped>
.welcome-section {
  width: 100%;
  height: 500px;
  background-image: url('../assets/img/background-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 20px;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: transparent;
  color: white;
  text-align: center;
}

.welcome-text h3 {
  margin: 5px;
  font-size: 45px;
}

.welcome-text p {
  font-size: 20px;
  color: white;
  margin-top: 30px;
}
.welcome-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


p {
  color: #666;
}

.btn {
  background-color: #57b846;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #3f903f;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #57b846;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
}

.card-body {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
</style>