<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center mt-5">
          <h2><span>404</span> <br> Страница не найдена</h2>
          <p class="lead">Извините, запрашиваемая вами страница не существует.</p>
          <router-link to="/" class="btn">Вернуться на главную</router-link>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
    name: "NotFound"
}
</script>

<style scoped>
* {
    user-select: none;
}

.btn {
  background: #57b846;
  color: white;
}

h2 span {
    font-size: 400px;
    font-weight: 1000;
    color: rgba(230, 230, 230, 0.5);
}
</style>