<template>
  <Header/>
  <div class="personal-cabinet">
    <h2 class="mt-4 text-center">Личный кабинет</h2>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <CabinetUserInfo :email="email"/>
        </div>
        <div class="col-md-6">
          <CabinetSubsInfo :subs="subs"/>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <CabinetTestHistory :tests="tests"/>
    </div>
  </div>
</template>

<script setup>
import CabinetUserInfo from "@/components/CabinetUserInfo.vue";
import CabinetSubsInfo from "@/components/CabinetSubsInfo.vue";
import CabinetTestHistory from "@/components/CabinetTestHistory.vue";
import Header from "@/components/Header.vue";
import {onMounted, ref} from "vue";
import axios from "axios";
import store from "@/store.js";
import router from "@/router.js";

const subs = ref(null);
const email = ref();
const tests = ref(null);

const getInfo = async () => {
  const response = await axios({
    method: "GET",
    url: store.getters.apiUrl + "/users/getAuthorizedUserWithSubs",
    withCredentials: true,
  });
  email.value = response.data.response.email;

  subs.value = response.data.response.subs;
  tests.value = response.data.response.passedTests;
};

const accessChecker = async () => {
  let role;

  axios.get(store.getters.apiUrl + '/users/getUserRole', {withCredentials: true})
      .then((response) => {
        role = response.data.response;
        if (role !== 'USER') {
          router.push('/access-denied');
        }
      }).catch((error) => {
    router.push('/access-denied');
  });

}

onMounted(async () => {
  await getInfo();
  await accessChecker();
});
</script>

<style scoped>
.personal-cabinet {
  padding: 20px;
}
</style>
