<template>
    <Header></Header>
    <Wrapper>
        <div class="test-page">
            <h1 class="test-description">{{ testVariant.description }}</h1>
            <ul class="nav nav-tabs tabs">
                <li v-for="subjectId in testVariant.subjectList" :key="subjectId" class="nav-item">
                    <a
                            :href="'#' + subjectId"
                            class="nav-link"
                            :class="{ active: selectedSubject === subjectId }"

                            @click.prevent="selectSubject(subjectId)"
                    >
                        {{ getSubjectTitle(subjectId) }}
                    </a>
                </li>
            </ul>

            <div v-if="selectedSubject" class="subject-container">
                <div class="addition" v-for="(addition) in selectedSubjectAdditions">
                    <img v-if="addition.type === 'IMAGE'" style="width: 50%" :src="addition.contentFile"/>
                    <audio v-else-if="addition.type === 'AUDIO'" style="width: 50%" controls
                           :src="addition.contentFile"></audio>
                    <video v-else-if="addition.type === 'VIDEO'" style="width: 50%" controls
                           :src="addition.contentFile"></video>
                    <p v-else-if="addition.type === 'TEXT'" style="width: 50%">{{ addition.contentText }}</p>
                </div>
                <div class="question-container" v-for="(question, index) in selectedSubjectQuestions"
                     :key="question.id">
                    <h3 class="question-title">{{ index + 1 }}. {{ question.title }}</h3>
                    <div class="answers">
                        <div v-for="(answer, index) in question.answers" :key="answer.id" class="answer">
                            <input
                                    type="radio"
                                    :id="'answer-' + index"
                                    :value="answer"
                                    v-model="chosenAnswers[question.id]"
                                    class="answer-radio"
                            />
                            <label :for="'answer-' + index" class="answer-label">{{ answer }}</label>
                        </div>
                        <PopUp :method="hideDialog" :message="message" v-model:show="dialogVisible"/>
                    </div>
                </div>
                <button @click="finishTest" class="submit-button">Завершить тест</button>
            </div>
        </div>
    </Wrapper>
</template>

<script>
import {defineComponent} from "vue";
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import axios from "axios";
import store from "@/store.js";
import PopUp from "@/components/PopUpMessage.vue";

export default defineComponent({
    components: {PopUp, Header, Wrapper},
    data() {
        return {
            testVariant: store.state.sampleTest,
            chosenAnswers: [],
            selectedSubject: null,
            subjectsMap: {},
            formData: {
                testId: '',
                questions: []
            },
            message: '',
            dialogVisible: false
        };
    },
    computed: {
        selectedSubjectQuestions() {
            return this.testVariant.questions.filter(
                (question) => question.subjectId === this.selectedSubject
            );
        },
        selectedSubjectAdditions() {
            return this.testVariant.additions.filter(
                (addition) => addition.subjectId === this.selectedSubject
            );
        }
    },
    methods: {
        hideDialog() {
            location.replace('/subscription')
        },
        selectSubject(subjectId) {
            this.selectedSubject = subjectId;
        },
        async finishTest() {
            try {

                this.formData.testId = this.testVariant.testId;

                for (const questionId in this.chosenAnswers) {
                    const answer = this.chosenAnswers[questionId];
                    this.formData.questions.push({
                        questionId,
                        chosenAnswers: [answer]
                    });
                }

                const response = await axios.post(
                    store.getters.apiUrl + "/sample-test/result",
                    this.formData,
                    {
                        withCredentials: true,
                    }
                );
                this.message = 'Вы набрали ' + response.data.response + ' баллов! Для прохождения полного теста купите подписку!';
                this.dialogVisible = true;

                this.chosenAnswers = [];
                this.formData.questions = [];

                localStorage.removeItem("testResults");
            } catch (error) {
                console.error("Ошибка при завершении теста:", error);
            }
        },


        async getSubjectsMap() {
            try {
                const subjectsResponse = await axios.get(store.getters.apiUrl + "/subjects", {
                    withCredentials: true,
                });
                if (subjectsResponse.data.response) {
                    this.subjectsMap = subjectsResponse.data.response.reduce((acc, subject) => {
                        acc[subject.id] = subject.title;
                        return acc;
                    }, {});
                }
                this.selectSubject(this.testVariant.subjectList[0])
            } catch (error) {
                console.error("Ошибка при загрузке списка предметов:", error);
            }
        },

        getSubjectTitle(subjectId) {
            return this.subjectsMap[subjectId] || "Название предмета";
        },
    },
    async mounted() {
        await this.getSubjectsMap();
    },
    watch: {
        testVariant: {
            handler(newValue) {
                localStorage.setItem("testVariant", JSON.stringify(newValue));
            },
            deep: true,
        },
        chosenAnswers: {
            handler(newValue) {
                localStorage.setItem("selectedAnswers", JSON.stringify(newValue));
            },
            deep: true,
        },
    },
});
</script>


<style scoped>
.test-page {
    margin-top: 20px;
    width: 80%;
}

.tabs {
    margin-bottom: 20px;
}

.test-description {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.question-container {
    margin-bottom: 30px;
}

.question-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answer {
    margin-bottom: 10px;
}

.answer-radio {
    margin-right: 10px;
}

.answer-label {
    font-size: 16px;
    color: #333;
}

.submit-button {
    background-color: #57b846;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3f8c37;
}
</style>
