<template>
    <Header></Header>
    <Wrapper>
        <div class="container">
            <h1 class="header">Соберите личный тариф</h1>
            <form @submit.prevent="sendForm">
                <div class="tests-select-element">
                    <div class="label">Выберите тесты для подготовки</div>
                    <div class="test-select">
                        <div class="checkbox-wrapper-47"
                             v-for="test in tests"
                             :key="test.id">
                            <input type="checkbox"
                                   :id="test.title"
                                   :name="test.title"
                                   :value="test.title"
                                   v-model="formData.testTypes"
                                   @change="getSubscriptionCost"/>
                            <label :for="test.title">{{ test.title }}</label>
                        </div>
                    </div>
                </div>
                <div class="form_el">
                    <select id="period" name="period" v-model="formData.subscriptionDuration"
                            @change="getSubscriptionCost">
                        <option value="" disabled selected>Выберите длительность тарифа</option>
                        <option v-for="duration in durations" :key="duration.id" :value="duration.duration">
                            {{ duration.duration }} дней
                        </option>
                    </select>
                </div>
                <div v-if="isCompanyLoggedIn" class="form_el">
                    <select id="employees_amount" name="employees_amount" v-model="formData.employeesAmount"
                            @change="getSubscriptionCost">
                        <option value="" disabled selected>Количество сотрудников Вашей организации</option>
                        <option v-for="amount in employeesAmount" :key="amount.id" :value="amount.employeeAmount">
                            до {{ amount.employeeAmount }} сотрудников
                        </option>
                    </select>
                </div>
                <div class="price-block" v-if="this.formData.cost > 0 & this.formData.subscriptionDuration !== ''">
                    <p>Стоимость подписки</p>
                    <p>{{ formData.cost }} тенге</p>
                </div>
                <div class="footer">
                    <button type="button" class="btn" @click="openSubscriptionDialog" :disabled="disabled">Купить
                        подписку
                    </button>
                </div>
            </form>
        </div>
    </Wrapper>
    <div v-if="showSubscriptionDialog" class="overlay">
        <div class="confirmation-dialog">
            <p>Вы уверены, что хотите купить подписку?</p>
            <button @click="sendForm" class="confirm-button">Подтвердить</button>
            <button @click="closeSubscriptionDialog" class="cancel-button">Отмена</button>
        </div>
    </div>
    <div v-if="showPurchaseSuccessDialog" class="overlay">
        <div class="purchase-success-dialog">
            <p>Покупка подписки успешно совершена!</p>
            <button @click="handlePurchaseSuccess" class="confirm-button">OK</button>
        </div>
    </div>
</template>

<script>
import Wrapper from "@/components/Wrapper.vue";
import axios from "axios";
import Header from "@/components/Header.vue";
import store from "@/store.js";

export default {
    components: {Header, Wrapper},
    data() {
        return {
            user: {},
            tests: [],
            durations: [],
            employeesAmount: [],
            formData: {
                testTypes: [],
                subscriptionDuration: '',
                employeesAmount: '',
                cost: ''
            },
            isCompanyLoggedIn: false,
            disabled: true,
            showSubscriptionDialog: false,
            showPurchaseSuccessDialog: false,
        };
    },
    methods: {
        async initUser() {
            await axios.get(store.getters.apiUrl + '/users/getAuthorizedUser', {withCredentials: true})
                .then((response) => {
                    this.user = response.data.response;
                    const companyBinRegex = /^\d{12}$/;
                    if (companyBinRegex.test(this.user.identifier)) {
                        this.isCompanyLoggedIn = true;
                    }
                }).catch((error) => {
                    console.log(error);
                });
        },
        async initTests() {

            await axios.get(store.getters.apiUrl + '/test-types/all', {withCredentials: true})
                .then((response) => {
                    this.tests = response.data.response;
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async initPeriods() {

            await axios.get(store.getters.apiUrl + '/subscription_types', {withCredentials: true})
                .then((response) => {
                    this.durations = response.data.response;
                })
                .catch((error) => {
                    console.log(error)
                })

        },
        async initEmployeesAmounts() {

            await axios.get(store.getters.apiUrl + '/employee-amounts', {withCredentials: true})
                .then((response) => {
                    this.employeesAmount = response.data.response;
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        async sendForm() {
            await axios.post(
                store.getters.apiUrl + '/subscriptions', this.formData, {withCredentials: true}
            )
            this.closeSubscriptionDialog();
            this.showPurchaseSuccessDialog = true;
            console.log(this.isCompanyLoggedIn)
        },
        openSubscriptionDialog() {
            this.showSubscriptionDialog = true;
        },
        closeSubscriptionDialog() {
            this.showSubscriptionDialog = false;
        },
        closePurchaseSuccessDialog() {
            this.showPurchaseSuccessDialog = false;
            window.location.replace("/");
        },
        handlePurchaseSuccess() {
            this.closePurchaseSuccessDialog();
        },
        getSubscriptionCost() {
            const chosenTests = this.formData.testTypes;
            const chosenDuration = this.formData.subscriptionDuration;
            const chosenEmployeesAmount = this.formData.employeesAmount;

            let cost = 0;

            chosenTests.forEach((chosenTest) => {
                this.tests.forEach((test) => {
                    if (test.title === chosenTest) {
                        cost = cost + test.instantPrice + test.subscriptionPrice;
                    }
                })

                this.durations.forEach((duration) => {
                    if (duration.duration === chosenDuration) {
                        cost = cost + duration.price;
                    }
                })

            })

            if (chosenEmployeesAmount !== '') {
                this.employeesAmount.forEach((amount) => {
                    if (amount.employeeAmount === chosenEmployeesAmount) {
                        cost = Math.round(cost - cost * amount.discount / 100);
                    }
                })
            }

            this.formData.cost = cost;

            if (this.isCompanyLoggedIn) {
                if (this.formData.testTypes !== [] & this.formData.subscriptionDuration !== '' && this.formData.cost !== '' && this.formData.employeesAmount !== '') {
                    this.disabled = false;
                }
            } else {
                if (this.formData.testTypes !== [] & this.formData.subscriptionDuration !== '' && this.formData.cost !== '') {
                    this.disabled = false;
                }
            }
        },
    },
    mounted() {
        this.initUser();
        this.initTests();
        this.initPeriods();
        this.initEmployeesAmounts();
    }
};
</script>

<style scoped>
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}

form {
    padding: 20px 40px 0 40px;
}

.tests-select-element {
    margin-bottom: 30px;
    border: 3px solid #57b846;
    border-radius: 30px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-select {
    display: flex;
}

.label {
    font-size: 32px;
    margin-bottom: 20px;
}

.form_el {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    background-color: white;
    border: 3px solid #57b846;
    border-radius: 20px;
    display: inline-block;
    font: inherit;
    font-size: 24px;
    line-height: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    display: inline-flex;
}

.checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 6px;
    z-index: -1;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    margin-right: 30px;
    color: #0f5229;
}

.checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: #b7e6c9;
    border-color: #2cbc63;
}

.checkbox-wrapper-47 label,
.checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
}

label {
    font-size: 24px;
}

.btn {
    font-size: 24px;
    background-color: #57b846;
    color: white;
    margin-top: 5px;
}

.price-block {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.confirm-button {
    background-color: #57b846;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.purchase-success-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}
</style>
