<template>
    <div>
        <Header></Header>
        <Wrapper>
            <div class="test-page">
                <div class="test-page">
                    <Timer class="timer"
                           style="margin-top: 60px;
                                  margin-right: 40px;
                                  width: 150px;
                                  text-align: center;"/>
                    <h1 class="test-description">{{ testVariant.description }}</h1>
                    <ul class="nav nav-tabs tabs">
                        <li v-for="subjectId in testVariant.subjectsList" :key="subjectId" class="nav-item">
                            <a
                                :href="'#' + subjectId"
                                class="nav-link"
                                :class="{ active: selectedSubject === subjectId }"
                                @click.prevent="selectSubject(subjectId)"
                            >
                                {{ getSubjectTitle(subjectId) }}
                            </a>
                        </li>
                    </ul>

                    <div v-if="selectedSubject" class="subject-container">
                        <div class="addition" v-for="(addition) in selectedSubjectAdditions">
                            <img v-if="addition.type === 'IMAGE'" style="width: 50%" :src="addition.contentFile"/>
                            <audio v-else-if="addition.type === 'AUDIO'" style="width: 50%" controls
                                   :src="addition.contentFile"></audio>
                            <video v-else-if="addition.type === 'VIDEO'" style="width: 50%" controls
                                   :src="addition.contentFile"></video>
                            <p v-else-if="addition.type === 'TEXT'">{{ addition.contentText }}</p>
                        </div>
                        <div class="question-container" v-for="(question, index) in selectedSubjectQuestions"
                             :key="question.id">
                            <h3 class="question-title">{{ index + 1 }}. {{ question.title }}</h3>
                            <div class="answers">
                                <div v-for="(answer, answerIndex) in question.answers" :key="answerIndex" class="answer">
                                    <input
                                        type="radio"
                                        :id="'answer-' + question.id + '-' + answerIndex"
                                        :value="answer"
                                        v-model="chosenAnswers[question.id]"
                                        class="answer-radio"
                                    />
                                    <label :for="'answer-' + question.id + '-' + answerIndex" class="answer-label">
                                        {{answer}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button @click="openConfirmationDialog" class="submit-button">Завершить тест</button>
                    </div>
                </div>
            </div>
        </Wrapper>
        <div
            v-if="showConfirmationDialog || timeUp || fiveMinutesWarning"
            class="overlay"
        ></div>
        <div v-if="showConfirmationDialog" class="confirmation-dialog">
            <p>Вы уверены, что хотите завершить тест?</p>
            <button @click="finishTestByButton" class="confirm-button">
                Подтвердить
            </button>
            <button @click="closeConfirmationDialog" class="cancel-button">
                Отмена
            </button>
        </div>
        <div v-if="timeUp" class="time-up-dialog">
            <p>Время вышло! Результаты сохранены</p>
            <button @click="closeTimeUpDialog" class="ok-button">OK</button>
        </div>
        <div v-if="fiveMinutesWarning" class="five-minutes-warning-dialog">
            <p>Осталось 5 минут до конца теста!</p>
            <button @click="closeFiveMinutesWarningDialog" class="ok-button">
                OK
            </button>
        </div>
        <PopUp
            :method="hideDialog"
            :message="message"
            v-model:show="dialogVisible"
        />
    </div>
</template>

<script>
import { defineComponent } from "vue";
import Timer from "@/components/Timer.vue";
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import axios from "axios";
import store from "@/store.js";
import PopUp from "@/components/PopUpMessage.vue";

export default defineComponent({
    components: { PopUp, Header, Wrapper, Timer },
    data() {
        return {
            testVariant: store.state.testVariantToRender,
            chosenAnswers: [],
            selectedSubject: null,
            subjectsMap: {},
            formData: {
                testId: "",
                subjectsList: [],
                questions: [],
            },
            showConfirmationDialog: false,
            timeUp: false,
            fiveMinutesWarning: false,
            message: "",
            dialogVisible: false,
        };
    },
    computed: {
        selectedSubjectQuestions() {
            return this.testVariant.questions.filter(
                (question) => question.subjectId === this.selectedSubject
            );
        },
        selectedSubjectAdditions() {
            return this.testVariant.additions.filter(
                (addition) => addition.subjectId === this.selectedSubject
            );
        },
        restTime() {
            return this.$store.state.restTime;
        },
    },
    methods: {
        selectSubject(subjectId) {
            this.selectedSubject = subjectId;
        },
        async finishTestByButton() {
            try {
                this.formData.testId = this.testVariant.testId;

                this.formData.subjectsList = this.testVariant.subjectsList;

                for (const questionId in this.chosenAnswers) {
                    const answer = this.chosenAnswers[questionId];
                    this.formData.questions.push({
                        questionId,
                        chosenAnswers: [answer],
                    });
                }

                const response = await axios.post(
                    store.getters.apiUrl + "/history-tests",
                    this.formData,
                    {
                        withCredentials: true,
                    }
                );
                this.stopTimer();

                this.message = "Вы набрали " + response.data.response + " баллов!";
                this.dialogVisible = true;

                this.chosenAnswers = [];

                localStorage.removeItem("testResults");
            } catch (error) {
                console.error("Ошибка при завершении теста:", error);
            }
            this.closeConfirmationDialog();
        },
        async timerFinish() {
            try {
                this.formData.testId = this.testVariant.testId;

                this.formData.subjectsList = this.testVariant.subjectsList;

                for (const questionId in this.chosenAnswers) {
                    const answer = this.chosenAnswers[questionId];
                    this.formData.questions.push({
                        questionId,
                        chosenAnswers: [answer],
                    });
                }

                const response = await axios.post(
                    store.getters.apiUrl + "/history-tests",
                    this.formData,
                    {
                        withCredentials: true,
                    }
                );
                this.stopTimer();

                this.message = "Вы набрали " + response.data.response + " баллов!";
                this.dialogVisible = true;

                this.chosenAnswers = [];

                localStorage.removeItem("testResults");
            } catch (error) {
                console.error("Ошибка при завершении теста:", error);
            }
            this.closeConfirmationDialog();
        },

        stopTimer() {
            try {
                axios
                    .get(store.getters.apiUrl + "/stopTimer", {
                        withCredentials: true,
                    })
                    .then((response) => {
                        if (response.data.status === 200) {
                            console.log(response);
                        }
                    });
            } catch (error) {
                console.log(error);
            }
        },

        openConfirmationDialog() {
            this.showConfirmationDialog = true;
        },
        closeConfirmationDialog() {
            this.showConfirmationDialog = false;
        },
        closeTimeUpDialog() {
            this.timeUp = false;
        },
        closeFiveMinutesWarningDialog() {
            this.fiveMinutesWarning = false;
        },
        async getSubjectsMap() {
            try {
                const subjectsResponse = await axios.get(
                    store.getters.apiUrl + "/subjects",
                    {
                        withCredentials: true,
                    }
                );
                if (subjectsResponse.data.response) {
                    this.subjectsMap = subjectsResponse.data.response.reduce(
                        (acc, subject) => {
                            acc[subject.id] = subject.title;
                            return acc;
                        },
                        {}
                    );
                    this.selectSubject(this.testVariant.subjectsList[0]);
                }
            } catch (error) {
                console.error("Ошибка при загрузке списка предметов:", error);
            }
        },
        getSubjectTitle(subjectId) {
            return this.subjectsMap[subjectId] || "Название предмета";
        },
        hideDialog() {
            location.replace("/");
        },
    },
    async mounted() {
        await this.getSubjectsMap();
        this.startTimer(14400);
    },
    watch: {
        testVariant: {
            handler(newValue) {
                localStorage.setItem("testVariant", JSON.stringify(newValue));
            },
            deep: true,
        },
        chosenAnswers: {
            handler(newValue) {
                localStorage.setItem("selectedAnswers", JSON.stringify(newValue));
            },
            deep: true,
        },
        restTime(newVal, oldVal) {
            if (newVal === "00:00:00") {
                this.timerFinish();
                this.timeUp = true;
            }
            if (newVal === "00:05:00") {
                this.fiveMinutesWarning = true;
            }
        },
    },
});
</script>

<style scoped>
.test-page {
    margin-top: 50px;
    width: 1100px;
}

.tabs {
    margin-bottom: 20px;
}

.test-description {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.question-container {
    margin-bottom: 30px;
}

.question-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.answers {
    display: flex;
    flex-direction: column;
}

.answer {
    margin-bottom: 10px;
}

.answer-radio {
    margin-right: 10px;
}

.answer-label {
    font-size: 16px;
    color: #333;
}

.submit-button {
    background-color: #57b846;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-button:hover {
    background-color: #3f8c37;
}

.timer {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #57b846;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 21px;
    color: aliceblue;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.confirmation-dialog,
.time-up-dialog,
.five-minutes-warning-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.confirmation-dialog p,
.time-up-dialog p,
.five-minutes-warning-dialog p {
    margin: 0;
}

.confirmation-dialog button,
.time-up-dialog button,
.five-minutes-warning-dialog button {
    margin-top: 10px;
}

.confirmation-dialog .confirm-button,
.time-up-dialog .ok-button,
.five-minutes-warning-dialog .ok-button {
    background-color: #57b846;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmation-dialog .confirm-button:hover,
.time-up-dialog .ok-button:hover,
.five-minutes-warning-dialog .ok-button:hover {
    background-color: #3f8c37;
}

.confirmation-dialog .cancel-button {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
</style>
