<template>
    <Header></Header>
    <Wrapper>
        <div class="container-fluid">
            <div v-show="showMenu">
                <div class="tests row row-cols-3">
                    <div
                            v-for="test in testTypes"
                            :key="test.id"
                            class="test card col-md-3 m-3"
                            @click="setTest(test)"
                    >
                        <div class="card-body">
                            <h5 class="card-title">{{ test.title }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div v-show="!showMenu">
                <div>
                    <h3>Выбранный тест: {{ test.title }}</h3>
                    <button @click="unsetTest" v-if="test.title !== ''" class="btn btn-secondary">Назад</button>
                    <button :disabled="!isFormDone()" @click="sendFormData" class="btn btn-primary">
                        Продолжить
                    </button>
                    <div class="lang" v-if="this.test.isLang">
                        <h4>Выберите язык прохождения</h4>
                        <select v-model="formData.lang" class="form-select">
                            <option value="kz">Казахский</option>
                            <option value="ru">Русский</option>
                            <option value="en">Английский</option>
                        </select>
                    </div>
                    <div class="row mt-3">
                        <div
                                v-for="subject in test.subjects"
                                :key="subject.id"
                                :class="{
                                'requiredSubject': isRequired(subject.id),
                                'selectedSubject': isSelected(subject.id),
                                'possibleSubject': isPossible(subject.id),
                                'selectedPossibleSubject': isSelectedPossible(subject.id),
                            }"
                                class="subject card col-md-3 m-3"
                                @click="setDependencies(subject.id)"
                        >
                            <div class="test-container card-body">
                                <h5 class="test-container card-title">{{ subject.title }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <PopUp :method="hideDialog" :message="message" v-model:show="dialogVisible"/>
    </Wrapper>
</template>

<script>
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import axios from "axios";
import store from "@/store.js";
import router from "@/router.js";
import PopUp from "@/components/PopUpMessage.vue";

export default {
    components: {Wrapper, Header, PopUp},
    data() {
        return {
            testTypes: [
                {
                    id: "",
                    title: "",
                    subscriptionPrice: "",
                    instantPrice: "",
                    isMultiLang: false
                }
            ],
            allSubjects: [],
            test: {
                id: "",
                title: "",
                isLang: false,
                subjects: []
            },
            showMenu: true,
            selectedSubject: null,
            possibleSubjectsIds: [],

            formData: {
                lang: null,
                testTypeId: "",
                subjectsIds: []
            },
            renderTestVariant: {},
            message: '',
            dialogVisible: false,
        };
    },
    methods: {
        async initTests() {
            try {
                const response = await axios.get(store.getters.apiUrl + "/test-types/all", {
                    withCredentials: true
                });
                this.testTypes = response.data.response;
            } catch (error) {
                console.error(error);
            }
        },
        async initSubjects() {
            try {
                const response = await axios.get(store.getters.apiUrl + "/subjects", {
                    withCredentials: true
                });
                this.allSubjects = response.data.response;
            } catch (error) {
                console.error(error);
            }
        },
        setTest(test) {
            this.test.title = test.title;
            this.test.id = test.id;
            this.test.subjects = this.allSubjects.filter(sub => sub.testType.title === test.title);
            this.showMenu = false;
            this.test.isLang = test.isMultiLang;
        },
        unsetTest() {
            this.showMenu = true;
            this.formData.testTypeId = "";
            this.formData.subjectsIds = [];
        },
        setDependencies(subjectId) {
            if (!this.test.subjects.filter(subj => subj.required).map(obj => obj.id).includes(subjectId)) {
                if (this.formData.subjectsIds.includes(subjectId)) {
                    if (this.selectedSubject === subjectId) {
                        if (this.formData.subjectsIds.length === 1) {
                            this.formData.subjectsIds = [];
                            this.possibleSubjectsIds = [];
                            this.selectedSubject = "";
                        } else {
                            this.formData.subjectsIds = this.formData.subjectsIds.filter(subj => subj !== subjectId);
                            this.selectedSubject = this.formData.subjectsIds[0];

                            const selectedSubject = this.allSubjects.find(subject => subject.id === this.selectedSubject);
                            this.possibleSubjectsIds = selectedSubject.dependencies;
                        }
                    } else {
                        this.formData.subjectsIds = this.formData.subjectsIds.filter(subj => subj !== subjectId);
                    }
                } else {
                    if (this.possibleSubjectsIds.includes(subjectId)) {
                        if (this.formData.subjectsIds.length === 2) {
                            this.formData.subjectsIds = [];
                            this.selectedSubject = subjectId;
                            this.formData.subjectsIds.push(subjectId);

                            const selectedSubject = this.allSubjects.find(subject => subject.id === subjectId);
                            this.possibleSubjectsIds = selectedSubject.dependencies;
                        } else {
                            this.formData.subjectsIds.push(subjectId);
                        }
                    } else {
                        this.formData.subjectsIds = [];
                        this.selectedSubject = subjectId;
                        this.formData.subjectsIds.push(subjectId);

                        const selectedSubject = this.allSubjects.find(subject => subject.id === subjectId);
                        this.possibleSubjectsIds = selectedSubject.dependencies;
                    }
                }
            }
        },
        isRequired(subjectId) {
            return this.test.subjects.find(subj => subj.id === subjectId)?.required;
        },
        isSelected(subjectId) {
            return subjectId === this.selectedSubject;
        },
        isPossible(subjectId) {
            return this.possibleSubjectsIds.includes(subjectId);
        },
        isSelectedPossible(subjectId) {
            return this.formData.subjectsIds.includes(subjectId);
        },
        isFormDone() {
            if (this.test.title === "TOEFL") {
                return this.formData.subjectsIds.length === 0;
            } else if (this.test.title === "ОЗП" && this.formData.lang !== null) {
                return this.formData.subjectsIds.length === 1;
            } else if (this.test.title === "ЕНТ" && this.formData.lang !== null) {
                return this.formData.subjectsIds.length === 2;
            }
        },
        async sendFormData() {
            this.formData.testTypeId = this.test.id;
            this.test.subjects.filter(subj => subj.required).forEach(req => {
                this.formData.subjectsIds.push(req.id);
            });

            if (this.test.title === "TOEFL") {
                this.formData.lang = 'en';
            }

            try {
                await axios.post(store.getters.apiUrl + "/test-variants/render", this.formData, {
                    withCredentials: true
                }).then(response => {
                    if (response.data.status === 200) {
                        store.state.testVariantToRender = response.data.response;
                        router.push('taking-test');
                    } else {
                        this.message = response.data.response;
                        this.dialogVisible = true;
                    }
                })
            } catch (error) {
                console.error(error);
            }
        },
        hideDialog() {
            location.replace('/subscription');
        },
    },
    mounted() {
        this.initTests();
        this.initSubjects();
    }
};
</script>

<style scoped>
.tests {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.test, .subject {
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.test:hover, .subject:hover {
    background-color: #57b846;
}

.test-container {
    height: 200px !important;
}

.subject {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    padding: 15px;
}

.requiredSubject {
    background-color: #ffcccc;
}

.possibleSubject {
    background-color: #ccffcc;
}

.selectedSubject, .selectedPossibleSubject {
    background-color: #57b846;
    color: white;
}

.btn-secondary {
    margin: 10px;
}

.lang {
    margin-top: 15px;
}
</style>
