<template>
    <Header/>
    <Wrapper>
        <transition name="fade">
            <WarningMessage v-if="messageVisible"
                            :message="warningMessage"/>
        </transition>

        <menu>
            <h2>Конструктор тестов</h2>
            <select name="testType" id="testTypeSelect" @change="onChange($event)">
                <option value="" disabled selected>Выберите тип теста</option>
                <option v-for="testType in testTypes" :key="testType.id" :value="testType.title">
                    {{ testType.title }}
                </option>
            </select>

            <div id="lang-var" class="hide">
                <p>Выберите язык теста: </p>
                <div class="var">
                    <input type="radio" name="lang" value="kz" v-model="testObj.language"> <label>Казахский</label>
                </div>
                <div class="var">
                    <input type="radio" name="lang" value="ru" v-model="testObj.language"> <label>Русский</label>
                </div>
            </div>

            <button class="add-btn gen-btn" @click="addComponent('Multiple')" disabled>
                <img src="../assets/img/form-types/icons8-multiple-choice-96.png" alt="multiple">
                Добавить Multiple
            </button>
            <button class="add-btn gen-btn" @click="addComponent('Single')" disabled>
                <img src="../assets/img/form-types/icons8-single-choice-96.png" alt="single">
                Добавить Single
            </button>
            <button class="add-btn gen-btn" @click="addComponent('Additional')" disabled>
                <img src="../assets/img/add-documents.png" alt="single">
                Добавить материалы
            </button>

            <button class="add-btn" @click="sendToServer()">Сохранить</button>
        </menu>

        <ul class="nav nav-tabs tabs" id="subjects" role="tablist">
            <li v-for="subject in subjects" :key="subject.id" class="nav-item">
                <a class="nav-link" @click="setActiveTab(subject.id)" :href="'#' + subject.id" role="tab"
                   :class="{ 'active': subject.id === activeTabId }">{{ subject.title }}</a>
            </li>
        </ul>


        <div class="tab-content" id="subjectsContent">
            <div v-for="subject in subjects" :key="subject.id" :id="subject.id" class="tab-pane fade" role="tabpanel"
                 :class="{ 'show': subject.id === activeTabId, 'active': subject.id === activeTabId }">
                <component v-for="component in components.filter(c => c.subjectId === subject.id)"
                           :is="component.type"
                           :key="component.id"
                           :counter="component.id"
                           ref="questions"
                           :subjectId="subject.id"
                           @remove-component="removeComponent(component.id)"/>
            </div>
        </div>
    </Wrapper>
</template>

<script>
import Header from "@/components/Header.vue";
import Wrapper from "@/components/Wrapper.vue";
import MultipleConstructorComponent from "@/components/constructor/MultipleConstructorComponent.vue";
import SingleConstructorComponent from "@/components/constructor/SingleConstructorComponent.vue";
import TextAndFileComponent from "@/components/constructor/TextAndFileComponent.vue";
import axios from "axios";
import {useStore} from "vuex";
import store from "@/store.js";
import WarningMessage from "@/components/constructor/WarningMessage.vue";
import {v4 as uuidv4} from 'uuid';
import router from "@/router.js";

export default {
    components: {
        WarningMessage,
        SingleConstructorComponent,
        MultipleConstructorComponent,
        TextAndFileComponent,
        Wrapper,
        Header,
    },
    data() {
        return {
            testObj: {
                testTypeId: null,
                description: "some test",
                subjectList: [],
                language: null,
                questions: [],
                additions: []
            },
            components: [],
            testTypes: [],
            subjects: [],
            activeTabId: null,
            lang: null,
            messageVisible: false,
            warningMessage: ""
        };
    },

    mounted() {
        this.accessChecker()
        this.fetchData()
            .then(() => {
                if (this.subjects.length > 0) {
                    this.activeTabId = this.subjects[0].id;
                }
            });
    },

    methods: {
        removeComponent(index) {
            this.components = this.components.filter(function (item) {
                return item.id !== index;
            })
        },

        addComponent(type) {
            if (this.activeTabId !== null) {

                const newId = uuidv4();
                this.components.push({
                    id: newId,
                    type: type === 'Multiple' ? 'MultipleConstructorComponent' :
                        type === 'Single' ? 'SingleConstructorComponent' : 'TextAndFileComponent',
                    subjectId: this.activeTabId
                });
            } else {
                this.warningMessage = "Выберите вкладку предмета в которую будет добавлен вопрос!";

                this.messageVisible = true;
                setTimeout(() => {
                    this.messageVisible = false;
                }, 3000);
            }
        },

        fetchData() {
            const store = useStore();

            return axios.get(store.getters.apiUrl + '/test-types/all', {withCredentials: true})
                .then(response => {
                    this.testTypes = response.data.response;
                })
                .catch(error => {
                    this.warningMessage = "Ошибка при получении данных: " + error;
                    this.messageVisible = true;
                    setTimeout(() => {
                        this.messageVisible = false;
                    }, 3000);
                });
        },

        generateTabs(testType) {
            axios.get(store.getters.apiUrl + '/subjects/by-test-type/' + testType, {withCredentials: true})
                .then(response => {

                    this.subjects = response.data.response

                    this.testObj.subjectList = this.subjects.map((subject) => {
                        return subject.title;
                    });
                })
                .catch(error => {
                    this.warningMessage = "Ошибка при получении данных: " + error;
                    this.messageVisible = true;
                    setTimeout(() => {
                        this.messageVisible = false;
                    }, 3000);
                });
        },

        onChange(event) {
            let buttons = document.getElementsByClassName("gen-btn");
            Array.prototype.forEach.call(buttons, (button) => {
                button.disabled = false;
            });

            this.testObj.testTypeId = this.testTypes.filter((type) => {
                return type.title === event.target.value
            })[0].id

            if (event.target.value === "TOEFL") {
                this.testObj.language = 'en';
                document.getElementById('lang-var').classList.add("hide");
                document.getElementById('lang-var').classList.remove("show");
            } else {
                this.testObj.language = null;
                document.getElementById('lang-var').classList.remove("hide");
                document.getElementById('lang-var').classList.add("show");
            }

            this.activeTabId = null;
            this.generateTabs(event.target.value)
        },

        setActiveTab(subjectId) {
            this.activeTabId = subjectId;
        },

        async sendToServer() {
            if (!!this.testObj.language) {

                if (this.$refs.questions) {
                    const allData = await Promise.all(this.$refs.questions.map(component => component.getData()));

                    this.testObj.questions = allData.filter(data => data && !('type' in data));
                    this.testObj.additions = allData.filter(data => data && ('type' in data));

                    if (this.testObj && this.testObj.questions.length > 0) {

                        const uniqueSubQIds = Array.from(new Set(this.testObj.questions.map(question => question.subjectId)))
                        const subjectIds = this.subjects.map(subject => subject.id);

                        console.log(this.testObj.questions)

                        if (uniqueSubQIds.length === subjectIds.length) {
                            let containsEmptyElement = false;

                            for (let ads in this.testObj.additions) {
                                if (ads.content === '' || ads.content === null) {
                                    this.warningMessage = 'Заполните все поля дополнительных материалов ответа!'
                                    containsEmptyElement = true;
                                } else if (ads.type === '') {
                                    this.warningMessage = 'Отсутствует тип содержимого контента!'
                                    containsEmptyElement = true;
                                }
                            }

                            console.log(this.testObj.additions)

                            if (!containsEmptyElement) {
                                this.testObj.questions.forEach(question => {
                                    if (question.title || /^\s*$/.test(question.title)) {
                                        if (question.answers && question.answers.length > 1) {
                                            if (question.rightAnswers && question.rightAnswers.length > 0) {

                                                question.answers.forEach(answer => {
                                                    if (!answer || /^\s*$/.test(answer)) {
                                                        this.warningMessage = 'Заполните все поля вариантов ответа!'
                                                        containsEmptyElement = true;
                                                    }
                                                });
                                            } else {
                                                this.warningMessage = 'Правильные варианты ответа не выбраны!'
                                                containsEmptyElement = true;
                                            }
                                        } else {
                                            this.warningMessage = 'Варантов ответа не хватает!'
                                            containsEmptyElement = true;
                                        }
                                    } else {
                                        this.warningMessage = 'Заполните все поля формуллировки вопросов!'
                                        containsEmptyElement = true;
                                    }
                                });
                            }

                            if (containsEmptyElement) {
                                this.messageVisible = true;
                                setTimeout(() => {
                                    this.messageVisible = false;
                                }, 3000);
                                containsEmptyElement = false;
                            } else {
                                axios.post(store.getters.apiUrl + '/test-variants/create', this.testObj,
                                    {
                                        withCredentials: true,
                                        headers: {
                                            "Content-Type": "application/json"
                                        }
                                    })
                                    .then((res) => {
                                        if (!res.data.success) {
                                            this.warningMessage = res.data.message;
                                            this.messageVisible = true;
                                            setTimeout(() => {
                                                this.messageVisible = false;
                                            }, 3000);
                                        } else {
                                            router.push("/");
                                        }
                                    })
                                    .catch((error) => {
                                        this.warningMessage = error;
                                        this.messageVisible = true;
                                        setTimeout(() => {
                                            this.messageVisible = false;
                                        }, 3000);
                                    });
                            }
                        } else {
                            const missingSubjectIds = subjectIds.filter(subjectId => !uniqueSubQIds.includes(subjectId));

                            this.warningMessage = "Не добавлены вопросы по предметам: "
                                + this.subjects
                                    .filter(subject => missingSubjectIds.includes(subject.id))
                                    .map((subject) => {
                                        return subject.title
                                    });
                            this.messageVisible = true;

                            setTimeout(() => {
                                this.messageVisible = false;
                            }, 3000);
                        }
                    } else {
                        this.warningMessage = 'Тест не создан!';
                        this.messageVisible = true;
                        setTimeout(() => {
                            this.messageVisible = false;
                        }, 3000);
                    }
                } else {
                    this.warningMessage = 'Не добавлено ни одного вопроса!';
                    this.messageVisible = true;
                    setTimeout(() => {
                        this.messageVisible = false;
                    }, 3000);
                }


            } else {
                let testType = this.testTypes.filter((type) => {
                    return type.id === this.testObj.testTypeId
                })[0].title

                this.warningMessage = "Установите язык прохождения теста типа " + testType + "!";

                this.messageVisible = true;
                setTimeout(() => {
                    this.messageVisible = false;
                }, 3000)
            }
        },

        accessChecker() {
            let role;

            axios.get(store.getters.apiUrl + '/users/getUserRole', {withCredentials: true})
                .then((response) => {
                    role = response.data.response;
                    if (role !== 'ADMIN' && role !== 'SUPER_ADMIN') {
                        router.push('/access-denied');
                    }
                }).catch((error) => {
                router.push('/access-denied');
            });
        }
    },
}
</script>

<style scoped>
@import "../assets/scrollbar.css";


.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

#lang-var.hide {
    display: none !important;
}

#lang-var.show {
    display: block;
}

menu {
    display: flex;
    flex-direction: column;
    gap: 38px;
    height: fit-content;
    min-height: calc(100% - 70px);
    position: absolute;
    left: 0;
    top: 53px;
    width: 33%;
    border-right: 1px solid lightgrey;
    margin-bottom: 0;
}

.tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 113px;
    height: calc(100% - 113px);
    min-height: 478px;
    width: 67%;
    overflow-x: scroll;
    scrollbar-gutter: stable;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    background-color: white;
    border: thin solid #57b846;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.add-btn {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    border: none;
}

.tabs {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 70px;
    overflow-y: hidden;
    overflow-x: auto;
    height: 43px;
    width: 67%;
}

.add-btn[disabled] {
    background-color: #434546;
}

.add-btn:not([disabled]):hover {
    background: #4b9f3c;
}

.add-btn:not([disabled]):active {
    background: #367c29;
}

select, .add-btn {
    width: 50%;
}

img {
    height: 32px;
    width: 32px;
}

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}

input[type="radio"]:checked {
    border-color: #57b846;
    background-color: #72d062;
}

#lang-var {
    width: 50%;
}

.var {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: rgba(128, 128, 128, 0.1) solid 1px;
}
</style>