<template>
    <Header/>
    <div class="container">

        <transition name="fade">
            <WarningMessage v-if="messageVisible"
                            :message="warningMessage"/>
        </transition>

        <div class="wrapper">
            <img src="./../assets/img/email.png" alt="email">
        </div>

        <span>{{message}}</span>
        <div class="timer" v-if="isTimer">{{ formatTime(timer) }}</div>
        <button v-if="showResendBtn" @click = "sendMail">Отправить заново</button>

    </div>
</template>

<script>
import Wrapper from "@/components/Wrapper.vue";
import Header from "@/components/Header.vue";
import axios from "axios";
import store from "@/store.js";
import WarningMessage from "@/components/constructor/WarningMessage.vue";

export default {
    name: "VerificationMessage",
    components: {WarningMessage, Header, Wrapper},
    props: ['token'],
    data() {
        return {
            message: "Account verification link was sent on your e-mail address",
            messageVisible: false,
            warningMessage: '',
            showResendBtn: false,
            timer: 0,
            isTimer: true
        }
    },
    mounted() {
        this.hasVerificationToken()
        this.sendMail();
    },
    methods: {
        hasVerificationToken() {
            if(this.token) {
                this.isTimer = false;
                axios.get(store.getters.apiUrl + '/auth/verifyEmail/' + this.token, {withCredentials: true})
                    .then((res) => {
                        if (res.data.success) {
                            this.message = "Account was verified"
                        }
                        else {
                            this.warningMessage = res.data.message;
                            this.messageVisible = true;
                            setTimeout(() => {
                                this.messageVisible = false;
                            }, 10000);


                            this.message = "Account verification link were re-sent on your e-mail address";
                            this.showResendBtn = true;
                        }
                    })
            }
        },
        async sendMail() {
            if (this.token) {
                this.isTimer = false;
            } else {
                let buttons = document.getElementsByTagName("button");
                Array.prototype.forEach.call(buttons, (button) => {
                    button.disabled = true;
                });

                await axios({
                    method: 'GET',
                    url: store.getters.apiUrl + '/auth/getMailValidationTokenByToken',
                    withCredentials: true
                })
                this.message = "Account verification link were sent on your e-mail address";
                this.startTimer(90)
            }
        },
        formatTime(seconds) {
            const hours = Math.floor(seconds / 3600);
            const minutes = Math.floor((seconds % 3600) / 60);
            const remainingSeconds = seconds % 60;
            return `${hours.toString().padStart(2, "0")}:${minutes
                .toString()
                .padStart(2, "0")}:${remainingSeconds.toString().padStart(2, "0")}`;
        },
        startTimer(duration) {
            this.timer = duration;
            const intervalId = setInterval(() => {
                this.timer--;
                if (this.timer <= 0) {
                    clearInterval(intervalId);
                    this.showResendBtn = true;
                    let buttons = document.getElementsByTagName("button");
                    Array.prototype.forEach.call(buttons, (button) => {
                        button.disabled = false;
                    });
                }
            }, 1000);
        },
    }
}
</script>

<style scoped>
.container {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
}

.wrapper {
    width: 300px;
    display: flex;
    padding: 50px;
    border-radius: 50%;
    background-color: #57b846;
    opacity: 0.5;
}

img {
    width: 200px;
}

span {
    text-align: center;
    width: 80%;
    font-size: 47px;
    font-weight: 1000;
    color: rgba(128, 128, 128, 0.3);
}

button {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    border: none;
}

button[disabled] {
    background-color: #434546;
}

button:not([disabled]):hover {
    background: #4b9f3c;
}

button:not([disabled]):active {
    background: #367c29;
}
.timer {
    background-color: #57b846;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 21px;
}
</style>