<template>
    <form class="question-form">
        <div class="btn-wrapper">
            <svg @click="removeComponent" fill="#000000" width="22px" height="22px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5  c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4  C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"/>
            </svg>
            <span class="hover-text">Удалить вопрос</span>
        </div>
        <textarea rows="3" class="question" placeholder="Введите вопрос" v-model="title"></textarea>
        <div class="options-group-wrapper">
            <div v-for="(option, index) in options" :key="option.id" class="d-flex justify-content-between align-items-center mb-3 radio-item option-wrapper">
                <input type="radio" v-model="option.checked" :name="'checkbox_question_' + counter">
                <textarea rows="1" class="option" v-model="option.text" placeholder="Введите вариант ответа"></textarea>
                <div class="btn-wrapper">
                    <svg @click="removeOption(index)" fill="#000000" width="22px" height="22px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5  c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4  C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"/>
                    </svg>
                    <span class="hover-text">Удалить вариант ответа</span>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <svg @click="addOption" class="del-btn" fill="#000000" width="22px" height="22px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5  c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4  C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"/>
            </svg>
            <span class="hover-text">Добавить вариант ответа</span>
        </div>
    </form>
</template>

<script>
export default {
    name: "SingleConstructorComponent",
    props: ['counter', 'subjectId'],
    data() {
        return {
            title: '',
            options: [{ id: Date.now(), checked: false, text: '' }],
        };
    },
    methods: {
        addOption() {
            this.options.push({ id: Date.now(), checked: false, text: '' });
        },
        removeOption(index) {
            this.options.splice(index, 1);
        },
        removeComponent() {
            this.$emit('remove-component', this.counter);
        },
        async getData() {
            return {
                subjectId: this.subjectId,
                title: this.title,
                answers: this.options.map(option => option.text),
                rightAnswers: this.options.filter(option => option.checked).map(option => option.text)
            }
        }
    },
}
</script>

<style scoped>
@import "css/questionsCss.css";

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}

input[type="radio"]:checked {
    border-color: #57b846;
    background-color: #72d062;
}
</style>