<template>
    <form class="question-form">
        <div class="btn-wrapper">
            <svg @click="removeComponent" fill="#000000" width="22px" height="22px" viewBox="0 0 32 32"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M18.8,16l5.5-5.5c0.8-0.8,0.8-2,0-2.8l0,0C24,7.3,23.5,7,23,7c-0.5,0-1,0.2-1.4,0.6L16,13.2l-5.5-5.5  c-0.8-0.8-2.1-0.8-2.8,0C7.3,8,7,8.5,7,9.1s0.2,1,0.6,1.4l5.5,5.5l-5.5,5.5C7.3,21.9,7,22.4,7,23c0,0.5,0.2,1,0.6,1.4  C8,24.8,8.5,25,9,25c0.5,0,1-0.2,1.4-0.6l5.5-5.5l5.5,5.5c0.8,0.8,2.1,0.8,2.8,0c0.8-0.8,0.8-2.1,0-2.8L18.8,16z"/>
            </svg>
            <span class="hover-text">Удалить компонент</span>
        </div>

        <h3>Дополнительные материалы</h3>

        <div style="display: flex; flex-direction: column">
            <div>
                <input type="radio" id="text" value="text" v-model="choice"/>
                <label for="text">Текст</label>
            </div>
            <div>
                <input type="radio" id="file" value="file" v-model="choice"/>
                <label for="file">Файл</label>
            </div>
        </div>

        <div v-if="choice === 'text'">
            <textarea rows="3" class="question" v-model="textInput" placeholder="Введите ваш текст здесь..."></textarea>
        </div>

        <div v-if="choice === 'file'">
            <div class="file-upload">
                <button class="file-upload-btn" @click.prevent="triggerFileUpload">Выберите файл</button>
                <input type="file" ref="fileInput" @change="handleFileUpload" accept="image/*,audio/*,video/*"
                       style="display: none;"/>
                <span class="file-name">{{ fileName }}</span>
            </div>
            <img v-if="fileType === 'image'" style="width: 100%" :src="filePreview"/>
            <audio v-else-if="fileType === 'audio'" style="width: 100%" controls :src="filePreview"></audio>
            <video v-else-if="fileType === 'video'" style="width: 100%" controls :src="filePreview"></video>
        </div>
    </form>
</template>

<script>
export default {
    name: "TextAndFileComponent",
    props: ['counter', 'subjectId'],
    data() {
        return {
            choice: 'text',
            textInput: '',
            file: null,
            filePreview: null,
            fileType: null,
            fileName: '',
            base64String: ""
        };
    },
    watch: {
        choice(newValue, oldValue) {
            if (newValue !== oldValue) {
                this.resetData();
            }
        },
    },
    methods: {
        triggerFileUpload() {
            this.$refs.fileInput.click();
        },
        handleFileUpload(event) {
            const file = event.target.files[0];
            if (file) {
                this.fileName = file.name;
                this.file = file;
                this.filePreview = URL.createObjectURL(file);
                this.fileType = file.type.split('/')[0];
            }
        },
        removeComponent() {
            this.$emit('remove-component', this.counter);
        },
        resetData() {
            this.textInput = '';
            this.file = null;
            this.filePreview = null;
            this.fileType = null;
            this.fileName = '';
            this.base64String = ""
        },
        async getData() {

            if (this.file === null) {
                return {
                    subjectId: this.subjectId,
                    type: this.choice.toUpperCase(),
                    contentText: this.textInput
                }
            } else {

                const base64String = await new Promise((resolve, reject) => {
                    const reader = new FileReader();
                    reader.readAsDataURL(this.file);
                    reader.onload = () => resolve(reader.result);
                    reader.onerror = error => reject(error);
                });

                return {
                    subjectId: this.subjectId,
                    type: this.fileType.toUpperCase(),
                    contentFile: base64String
                };
            }
        },
    },
}
</script>


<style scoped>
@import "css/questionsCss.css";

input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    margin-right: 10px;
}

input[type="radio"]:checked {
    border-color: #57b846;
    background-color: #72d062;
}

.file-upload {
    display: flex;
    align-items: center;
    gap: 12px;
}

.file-upload-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s;
}

.file-upload-btn:hover {
    background-color: #1669c1;
}

.file-name {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #202124;
}

</style>