<script setup>
defineProps({
  email: String,
});
</script>
<template>
  <div class="user-block d-flex flex-column align-items-center p-5 rounded-3 border border-2 border-primary">
    <p class="mb-3">
      <b><u>Пользователь: </u></b>
    </p>
    <p class="p-3 bg-light text-dark">{{ email }}</p>
  </div>
</template>
<style scoped>
.user-block {
  min-height: 200px;
  min-width: 20%;
}
</style>
