<script setup>
defineProps({
  subs: Array,
});
</script>
<template>
  <div class="subs-block d-flex flex-column align-items-center p-3 rounded-3 border border-2 border-primary">
    <p class="mb-3">
      <b><u>Подписки:</u></b>
    </p>
    <div class="tests-container">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Тесты</th>
          <th scope="col">Дата покупки</th>
          <th scope="col">Дата окончания</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(sub, index) in subs" :key="sub.id">
          <th scope="row">{{ index + 1 }}</th>
          <td>
            <span v-for="(testType, key) in sub.testTypes" :key="key" class="badge bg-primary me-2">{{
                testType.title
              }}</span>
          </td>
          <td>{{ sub.buyingDate }}</td>
          <td>{{ sub.expireDate }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<style scoped>
.subs-block {
  min-height: 200px;
  min-width: 50%;
}

.tests-container {
  width: 100%;
}
</style>
