<script setup>
defineProps({
    tests: Array,
});
const counter = 1;
</script>

<template>
    <div class="test-history mt-3 rounded-3 d-flex flex-column p-3 border border-2 border-primary">
        <p class="mb-3">
            <b><u>История тестов:</u> </b>
        </p>
        <div v-if="tests && tests.length" class="tests-container">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Тест</th>
                    <th scope="col">Предметы</th>
                    <th scope="col">Дата сдачи</th>
                    <th scope="col">Баллы</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(test, index) in tests" :key="index">
                    <th scope="row">{{ index + 1 }}</th>
                    <td class="test-title">{{ test.title }}</td>
                    <td class="test-subjects">
                        <span v-for="(subject, key) in test.subjects" :key="key"
                              class="badge bg-primary me-2">{{ subject }}</span>
                    </td>
                    <td>{{ test.submissionDate }}</td>
                    <td>{{ test.result }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="text-center mt-3">
            <p>Нет доступной истории тестов.</p>
        </div>
    </div>
</template>

<style scoped>
.test-history {
    width: 80%;
    margin: 0 auto;
    height: fit-content;
}

.tests-container {
    width: 100%;
}

.test-title {
    width: 150px;
}

.test-subjects {
    width: 600px;
}
</style>