<template>
    <div class="dialog" v-if="show" @click.stop="hide">
        <div @click.stop class="dialog-content">
            <slot>

            </slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'my-dialog',
    props: {
        show: Boolean,
        default: false
    },
    methods: {
        hide() {
            this.$emit('update:show', false)
        }
    }
}
</script>

<style scoped>
.dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    display: flex;
}

.dialog-content {
    margin: auto;
    background: white;
    border-radius: 12px;
    min-width: 200px;
    min-height: 50px;
    padding: 20px;
}
</style>