<script>
import {defineComponent, computed, ref} from "vue";
import LoginRegistrationModal from "@/components/authForm/LoginRegistrationModal.vue";
import LogoutBtnPersonalAccountLink from "@/components/LogoutBtnPersonalAccountLink.vue";
import IconCommunity from "@/components/icons/IconCommunity.vue";
import Cookies from 'js-cookie'
import axios from "axios";
import store from "@/store.js";
import router from "@/router.js";
import WarningMessage from "@/components/constructor/WarningMessage.vue";
import Wrapper from "@/components/Wrapper.vue";

export default defineComponent({
    components: {Wrapper, WarningMessage, LogoutBtnPersonalAccountLink, LoginRegistrationModal, IconCommunity},
    data() {
        return {
            message: '',
            messageVisible: false
        }
    },
    setup() {
        const tokens = ref(Cookies.get('accessToken') && Cookies.get("refreshToken"))

        const currentComponent = computed(() => {
            return tokens.value ? 'LogoutBtnPersonalAccountLink' : 'LoginRegistrationModal'
        })

        return {
            currentComponent
        }
    },

    methods: {
        checkIsVerified() {
            if (Cookies.get('accessToken') && Cookies.get("refreshToken")) {
                axios.get(store.getters.apiUrl + '/auth/isVerified', {withCredentials: true})
                    .then((res) => {

                        if (!res.data.response) {
                            if (window.location.pathname !== "/" && !window.location.pathname.match("^\/verification-msg(\/[a-zA-Z0-9-_]+(?:\.[a-zA-Z0-9-_]+){2})?$")) {
                                router.push("/verification-msg")
                            }
                        } else if (window.location.pathname.match("^\\/verification-msg(\\/[a-zA-Z0-9-_]+(?:\\.[a-zA-Z0-9-_]+){2})?$")) {
                            router.push("/")
                        }
                    })
            }
        },

        sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        },

        checkDevice() {
            if (Cookies.get('accessToken') && Cookies.get("refreshToken")) {
                axios.get(store.getters.apiUrl + '/auth/check_device', {withCredentials: true})
                    .then((res) => {
                        if (!res.data.response) {
                            this.message = "Произошла ошибка! Возможно, Вы вошли с другого устройства!";
                            this.messageVisible = true;
                            setTimeout(() => {
                                this.messageVisible = false;
                            }, 3000);
                            this.sleep(2000).then(() => {
                                if (window.location.pathname === '/') {
                                    window.location.reload()
                                } else {
                                    router.push('/')
                                }
                            })
                        }
                    })
            }
        }
    },

    mounted() {
        this.checkIsVerified()
        this.checkDevice()
    }
})
</script>

<template>
    <nav class="navbar bg-body-tertiary p-3">
        <div class="container justify-content-between">
            <IconCommunity/>
            <component :is="currentComponent"/>
        </div>
    </nav>
    <Wrapper>
        <transition name="fade">
            <WarningMessage v-if="messageVisible"
                            :message="message"/>
        </transition>
    </Wrapper>
</template>

<style scoped>

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
