<template>
    <div>
        <img class="pointer" @click="openCabinet" src="../assets/img/user.png" alt="personal account" />
        <button @click="logout">Logout</button>
    </div>
</template>

<script>
import axios from "axios";
import {useStore} from "vuex";
import router from "@/router.js";
import store from "@/store.js";

export default {
    name: "LogoutBtnPersonalAccountLink",
    data() {
        return {
        role: ''
        }
    },
    setup() {
        const store = useStore();

        const logout = () => {
            axios.post(store.getters.apiUrl + "/auth/logout", {}, {withCredentials: true})
                .then((resp) => {
                    if (window.location.pathname === '/') {
                        window.location.reload();
                    }
                    else {
                        router.push("/")
                    }
                })
                .catch(error => {
                  console.error("Error during logout:", error);
                });
        };

      return {
        logout,
      };
    },
    methods: {
        async getRole() {
            await axios.get(store.getters.apiUrl + '/users/getUserRole', {withCredentials: true})
                .then((response) => {
                  this.role = response.data.response;
                }).catch((error) => {
                  console.log(error);
                });
            },
        openCabinet() {
            if (this.role === 'USER') {
                router.push('personal-cabinet');
            }
            if (this.role === 'COMPANY') {
                router.push('company-cabinet');
            }
            if (this.role === 'ADMIN') {
                router.push('admin-cabinet');
            }
            if (this.role === 'SUPER_ADMIN') {
                router.push('super-admin-cabinet');
            }
        }
    },
    mounted() {
        this.getRole();
    }
};
</script>

<style scoped>
img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #4ba13b;
}

button {
    text-align: center;
    height: 35px;
    background-color: #57b846;
    border: 2px solid #4ba13b;
    border-radius: 7px;
    color: white;
    padding: 0 10px;
}

.pointer {
    cursor: pointer;
}
</style>
