<template>
    <div class="dialog" v-if="show" @click.stop="method">
        <div @click.stop class="dialog-content">
            <span> {{ message }} </span>
        </div>
    </div>
</template>

<script>
export default {
    name: "PopUp",
    props: {
        message: 0,
        show: {
            type: Boolean,
            default: false
        },
        method: {
            type: Function,
        }
    }
}
</script>

<style scoped>
.dialog {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.5);
    position: fixed;
    display: flex;
}

.dialog-content {
    margin: auto;
    background: white;
    min-width: 300px;
    max-width: 600px;
    min-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    border: 3px solid #57b846;
    border-radius: 30px;
}
</style>