<template>
    <div>
        <CreateAdminButton />
        <DeleteAdminButton />
        <DeleteUserButton />
        <CreateTestTypeButton />
        <CreateSubjectButton />
        <router-link class="router-link" to="/constructor">
            <CreateTestVariantButton />
        </router-link>
    </div>
</template>

<script>
import DeleteUserButton from "@/components/admin/buttons/DeleteUserButton.vue";
import CreateAdminButton from "@/components/admin/buttons/CreateAdminButton.vue";
import CreateTestTypeButton from "@/components/admin/buttons/CreateTestTypeButton.vue";
import CreateSubjectButton from "@/components/admin/buttons/CreateSubjectButton.vue";
import CreateTestVariantButton from "@/components/admin/buttons/CreateTestVariantButton.vue";
import DeleteAdminButton from "@/components/admin/buttons/DeleteAdminButton.vue";

export default {
    name: "SuperAdminFunctions",
    components: {
        CreateTestVariantButton,
        CreateSubjectButton,
        CreateTestTypeButton,
        DeleteUserButton,
        CreateAdminButton,
        DeleteAdminButton
    }
}
</script>

<style scoped>
</style>