<template>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card text-center " style="height: 380px; max-width: 320px">
            <h5 class="card-header">{{ title }}</h5>
            <!-- <img
              src="./assets/img/toefl-logo.jpg"
              class="card-img-top d-block"
              alt="ЕНТ тест"
            /> -->
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text">
                    <b>Единое национальное тестирование (ЕНТ) –</b> одна из форм
                    отборочных экзаменов для поступления в организаций высшего и (или)
                    послевузовского образования.
                </p>
                <a href="#" class="btn">Пройти</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: '',
        desc: ''
    }
}
</script>

<style scoped>

</style>