<script setup>
import { onMounted, computed } from "vue";
import { useStore } from "vuex";
import SockJS from "sockjs-client";
import Stomp from "webstomp-client";

const store = useStore(); // Используем хранилище Vuex

const websocketUrl = store.getters.apiUrl + "/stopwatch";
const queue = "/user/queue/test";
const app = "/app/startTimer";
let client = null;

var options = {
  debug: false,
  protocols: Stomp.VERSIONS.supportedProtocols(),
};

const restTime = computed(() => store.state.restTime);

function connect() {
  const sock = new SockJS(websocketUrl);
  client = Stomp.over(sock, options);
  client.connect({}, () => {
    console.log("Connected");
    client.subscribe(queue, (message) => {
      store.dispatch("setRestTime", message.body);
    });
    client.send(app, {}, JSON.stringify("Start"));
  });
}

onMounted(() => {
  connect();
});
</script>

<template>
  <div id="stopwatch">{{ restTime }}</div>
</template>

<style scoped></style>
