<template>
<div class="container">
    <slot></slot>
</div>
</template>

<script>
export default {
    name: "wrapper"
}
</script>

<style scoped>
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
</style>