::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
    background-clip: padding-box;
    border-radius: 5px;
    background: #888;
    transition: width 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:horizontal {
    border-radius: 5px;
    background: #888;
    transition: height 0.2s ease-in-out;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 5px;
    height: 5px;
}