<template>
    <nav>
        <a class="navbar-brand" href="/">
            <img
                src="../../assets/icons/logo.png"
                alt="Logo"
                width="35"
                height="35"
                class="d-inline-block align-text-top"
            />
            Test Platform
        </a>
        <a class="navbar-brand" href="/subscription">Подписки</a>
        <a class="navbar-brand" href="/tests">Тесты</a>
    </nav>
</template>
<script setup>
</script>